[Unit]
Description=Send awareness notifications

[Service]
Type=simple
WorkingDirectory=/home/benj
ExecStart=/usr/bin/fish -c aware
Restart=on-failure

[Install]
WantedBy=default.target